* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    background-color: #ffffff;
}

body a {
    text-decoration: none;
    color: #717171;
}

body a:hover {
    text-decoration: underline;
}

body li {
    list-style: none;
}


/* HEADER */

header {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 18px;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header li {
    margin: 8px;
    font-size: 1.3em;
}

header li input {
    width: 90px;
    height: 30px;
    background-color: #4386fa;
    color: white;
    padding: 5px;
}


/* SECTION */

section {
    width: auto;
    height: 50vh;
    margin-top: 10%;
    padding: 20px;
    text-align: center;
}

#searchbar {
    display: block;
    width: 600px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #dfe1e5;
    margin: 20px auto;
}

#searchbar:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

#searchbar input {
    width: 520px;
    height: 18px;
}

#searchbar img {
    margin-top: 10px;
}

.botao {
    font-size: 1.3em;
    width: 150px;
    height: 40px;
    margin-top: 1px;
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #f8f8f8;
    text-align: center;
}

.botao:hover {
    box-shadow: 0 1px 1px #c6c6c6;
}


/* Footer */

footer {
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100vw;
}

#pais {
    font-size: 120%;
    height: 35px;
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    padding-left: 1.5%;
}

#pais p {
    margin-top: 0.6%;
    font-size: 130%;
    color: #717171;
}

.rodape1 {
    display: flex;
    float: left;
    width: 500px;
    font-size: 130%;
    padding: 10px;
}

.rodape1 li {
    margin-left: 10px;
}

.rodape2 {
    display: flex;
    position: fixed;
    right: 0;
    width: 250px;
    font-size: 130%;
    padding: 10px;
}

.rodape2 li {
    margin-left: 10px;
}